@model List<WebApplication1.Controllers.Student>
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<style>
    table {
        page-break-inside: auto
    }

    tr {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    td {
        word-wrap: break-word;
        hyphens: auto;
    }
</style>
<table class="table" width="100%">
    <thead>
        <tr>
            <td>
                <strong>  Name</strong>
            </td>
            <td>
                <strong>  City</strong>
            </td>
            <td>
                <strong>  Number</strong>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Name</td>
                <td> @item.City</td>
                <td> @item.Number</td>
            </tr>
        }
    </tbody>
</table>